@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOLnONlQxFChFQXLwWS1g1xhs7Gb8YtzEh4w&s");
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  text-align: center;
  margin: auto;
   font-family:  "Michroma", sans-serif;
}

h1{
  font-size: 30px;
  color: purple;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}



